<ion-header>
  <ion-toolbar>
    <ion-title class="cerebriSemiBold">DEX Devroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="cerebriBook info">
    This is a test-devroom for functionality that is to be implemented in the final DEX software. The devroom should and will include
    all necessary testing components required in the final product.
  </div>
  <br>
  <br>
  <div>
    <ion-button color="primary" expand="block" (click)="goToBioAuth()">Test Biometric Authentication</ion-button>
    <ion-button color="primary" expand="block" (click)="()">Test SQLite Persistant Storage</ion-button>
    <ion-button color="primary" expand="block" (click)="()">Test QR Code Reader</ion-button>
    <ion-button color="primary" expand="block" (click)="()">Test HTTP Client & RxJS</ion-button>
  </div>
</ion-content>
